<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anmipo.android.trentobus"
    android:versionCode="6"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
	<supports-screens 
	    android:smallScreens="true" 
	    android:normalScreens="true" 
	    android:largeScreens="true" 
	    android:anyDensity="true"/>
    <application
        android:name=".BusApplication"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity android:name=".activities.BusChoiceActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ViewBusInfoActivity" />
        <activity android:name=".activities.ViewScheduleActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_activity_title" />
    </application>

</manifest>